.active {
    background: linear-gradient(
        90deg,
        rgba(39, 39, 39, 1) 2%,
        rgba(40, 40, 40, 1) 32%,
        rgba(48, 48, 48, 1) 66%,
        rgba(54, 54, 54, 1) 100%
    );
    border-right: 5px solid #eaac02 !important;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
